@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Quicksand&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
}
nav{
  background-color: #0a85d8;
border-top:solid black 1px;
  border-bottom:solid black 1px;
  display: flex; /* Display the children of this element as flexible boxes */
align-items: center; /* Align child flexible boxes in the vertical center */ 
}
nav p{
  text-align: center;
flex-basis: 100px; /* give each paragraph the same basic width */
   flex-grow: 1; /* Allow each paragraph to grow evenly to fill up the parent nav element */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover{
  color: red;
}
h1,h2 {
  font-family: 'Quicksand', sans-serif;
  color: #f75c03;
}
.center{
  text-align: center;
}
.wrap{
  float: right;
}
.caption{
font-style: italic;
  font-size: small;
}